   /* Estilo para el botón del carrito */
        #cartButtonContainer {
            position: fixed;
            top: 93px;
            right: 10px;
            z-index: 1050;
        }

        /* Estilo para el contenedor desplegable del carrito */
        .cart-dropdown {
            position: fixed;
            top: 130px;
            right: 10px;
            z-index: 1051;
            background: #2a2a2a;
            color: #f0f0f0;
            border: 1px solid #444;
            padding: 10px;
            width: 300px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
            display: none;
            border-radius: 8px;
        }

        /* Estilo para los productos en la lista */
        .cart-dropdown ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .cart-dropdown ul li {
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cart-dropdown ul li span {
            font-size: 14px;
        }

        .cart-dropdown ul li button {
            background: none;
            border: none;
            color: #ff4d4d;
            cursor: pointer;
            font-size: 16px;
        }

        .cart-dropdown ul li button:hover {
            color: #ff0000;
        }

        /* Botón de WhatsApp */
        #whatsappButton {
            position: fixed;
            bottom: 20px; /* Distancia desde la parte inferior */
            right: 20px; /* Distancia desde la parte derecha */
            z-index: 1050;
        }

        #whatsappButton .btn {
            background-color: #25D366;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            border-radius: 50px;
            font-size: 16px;
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        }

        #whatsappButton .btn:hover {
            background-color: #1ebe57;
        }

        #whatsappButton .btn i {
            margin-right: 10px;
            font-size: 20px;
        }